<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let beer of beers" [ngClass]="{'table-success': beer.clearance}">
            <td><img [src]="beer.image" [alt]="beer.name"></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>
                <span *ngIf="beer.clearance">{{(beer.price * sale) | currency}} <span class="badge text-bg-primary fw-lighter">50% off</span> </span>
                <span *ngIf="!beer.clearance">{{beer.price | currency}}</span>
            </td>
            <td>
                <span class="badge text-bg-warning" *ngIf="beer.stock==0">Sin Stock</span>
                <span *ngIf="beer.stock!=0">{{beer.stock}}</span>
            </td>
        </tr>

    </tbody>
</table>