
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="beer.image" [alt]="beer.nombre"></td>
            <td>{{beer.nombre}}</td>
            <td>{{beer.tipo}}</td>
            <td>{{beer.precio}}</td>
            <td>{{beer.stock}}</td>
        </tr>
        <tr>
            <td>Churdana</td>
            <td>IPA</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Pipo Gorosito</td>
            <td>Honey</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
