<!-- navbar -------------------------------- -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}} 🍺</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Algo más</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- cuerpo -------------------------------- -->

<div class="container">
  <app-brewery-beers></app-brewery-beers>
</div>

<!-- footer -------------------------------- -->

<footer class="fw-bolder d-flex justify-content-center color-bg_footer">
  <div class="d-flex align-items-center">
    {{title}} 🍺 <pre> </pre> <span class="fw-lighter"> | {{yearCopyright}} ©</span>
  </div>
</footer>